/*font-family: 'Open Sans', sans-serif;*/

/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

/*Regole Generali*/

header {
    height: 70px;
    max-width: 100 vw;
}

.bc-lightblue{
    background-color: #B3D0E7;
}

.container {
    width: 100%;
}

.j-center {
    display: flex;
    justify-content: center;
}

.j-between {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.btn-color-blue {
    color: white;
    background-color: #0061FF;
}

/*Header*/

.section-left ,
.section-right {
    display: flex;
    padding: 1rem 0;
}

.dropbox-logo-img {
    height: 30px;
    width: 130px;
    margin-left: 1.5rem;
}

.padding li {
    padding: .4rem 2rem;
}

.start-button {
    padding: 0 15px;
}

/*Section Jumbo*/

.container-jumbo {
    height: 600px;
    display: flex;
    justify-content: center;
}

.jumbo{
    width: 65%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.jumbo-title {
    width: 100%;
    height: 20%;
    background-color: yellow;
}

.jumbo-text {
    width: 30%;
    height: 80%;
    background-color: red;
}

.jumbo-img {
    width: 70%;
    height: 80%;
    background-color: blue;
}

/*Section Main*/



/*Section price infos*/

.price-info-container {
    width: 50%;
}

.main-title {
    background-color: yellow;
    width: 100%;
    height: 50px;
    margin: 2rem 0;
}

.price-info-single ,
.price-info-team ,
.price-info-company
 {
    background-color: green;
    border: 1px solid black;
    width: 30%;
    height: 800px;
    display: inline-block;
    margin: 1rem 0;
}

.info-team {
    width: 100%;
    height: 150px;
    background-color: magenta;
}

/*Partner info*/


