/*font-family: 'Open Sans', sans-serif;*/

/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

/*Regole Generali*/

header {
    height: 70px;
    max-width: 100 vw;
}

.bc-lightblue{
    background-color: #B3D0E7;
}

.container {
    width: 100%;
}

.j-center {
    display: flex;
    justify-content: center;
}

.j-between {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.btn-color-blue {
    color: white;
    background-color: #0061FF;
}

/*Header*/

.section-left ,
.section-right {
    display: flex;
    padding: 1rem 0;
}

.dropbox-logo-img {
    height: 30px;
    width: 130px;
    margin-left: 1.5rem;
}

.padding li {
    padding: .4rem 2rem;
}

.start-button {
    padding: 0 15px;
    margin-right: 15px;
}

/*Section Jumbo*/
.jumbo-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    margin-bottom: 6rem;
}

.jumbo-title {
    width: 65%;
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0;
}

.jumbo{
    width: 65%;
    display: flex;
    position: relative;
    top: 70px;
}

.jumbo-text {
    width: 30%;
    font-size: 0.8rem;
}

.jumbo-text p {
    margin-bottom: 1rem;
}

.jumbo-img {
    width: 70%;
}

.jumbo-img img{
    width: 110%
}

.jumbo-button {
    font-size: 1rem;
    margin: 1rem 0; 
    padding: .4rem .2rem;
    font-weight: 300;
    box-shadow: none;
}

.jumbo-text i {
    scale: 3;
    position: relative;
    top: 90px;
}

/*--Section w/ tariff plans--*/
 
.price-info-container {
    width: 50%;
}

.main-title {
    margin: 3rem 0;
}

.main-title h2 {
    font-size: 2.2rem;
}

label {
    margin-right: 1rem;
}

.radio-button{
    margin-right: 1rem;
    margin-bottom: 2rem;
}

/*---3 colums---*/

.price-info-single ,
.price-info-team ,
.price-info-company {
    border: 1px solid lightgrey;
    width: 30%;
    height: 820px;
    display: inline-block;
    margin: 1rem 0;
}

.border-bottom .fa-user ,
.fa-users ,
.fa-building {
    padding: 15px 6px 10px 0;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

.border-bottom span {
    padding: 13px 0 8px 0;
}

.flex {
    display: flex;
}

.column h3 {
    padding: 1rem 0 .4rem .9rem;
}

.column h4 {
    margin: 2rem 0 .7rem 1rem;
    font-size: .8rem;
}

.column p {
    font-size: 13px;
    font-weight: 400;
}

.price {
    font-size: 13px;
    font-weight: bold;
    padding: .4rem 0 .4rem .9rem;
}

.month {
    font-size: 13px;
    font-weight: 300;
    color: lightslategray;
    padding: 0 0 .4rem .9rem;
}

.user {
    margin-top: 2rem
}

.user .fa-user{
    scale: .8;
    padding: 2px 4px 0 15px;
}

.user p {
    padding-bottom: 2px;
}

.space {
    margin-top: .6rem;
    margin-right: .5rem;
}

.space .fa-folder {
    scale: .8;
    padding: 2px 4px 0 15px;
}

.space p {
    padding-top: 5px;
}

.function{
    margin: .6rem .5rem 2.5rem 0;
}

.function .fa-share-nodes {
    scale: .8;
    padding: 2px 4px 0 15px;
}

.function p {
    padding-top: 5px;
}

.btn-try {
    font-size: 13px;
    font-weight: 400;
    height: 38px;
    width: 200px;
    margin-left: 0.7rem;
    margin-bottom: 1.5rem;
}

.container-buy-now {
    margin-bottom: ;
}

.spacing {
    margin-left: .7rem;
    margin-right: 5px;
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

.buy-now {
    font-size: 13px;
    font-weight: 400;
}

.checked {
    margin-top: .5rem;
}

.checked i {
    scale: .8;
    padding: 5px 4px 0 15px;
}

.checked p {
    padding-top: 5px;
}

/*--Info Team--*/

.info-team {
    width: 100%;
    
    border: 1px solid lightgray;
    margin-top: 1.5rem;
}

.team-container{
    width: 80%;
}

.team-container-left h3{
    font-size: 1.2rem;
    margin: 1rem 0 .3rem 1rem;
}

.team-container-left p {
    font-weight: 700;
    font-size: 13px;
    margin: 0 0 .5rem 1rem;
}

.team-container-right button{
    height: 38px;
    width: 200px;
    position: relative;
    top: 15px;
    left: 270px; 
}

.info-team p {
    font-size: 13px;
    margin: 1.5rem 0 1rem 1rem;
}

.info-team {
    margin-bottom: 4rem;
}

/*Partner info*/

.partner-section {
    width: 100%;
    margin-top: 4rem;
}

.partner-container {
    width: 50%;
}

.partner-img {
    width: 60%;
}

.partner-img img {
    width: 100%;
}

.partner-text {
    width: 40%;
}

.partner-text h3 {
    padding: 2rem 0 1rem 2rem;
}

.partner-text p {
    font-size: 13px;
    padding: 0 0 2rem 2rem;
}

.partner-text button {
    background-color: white;
    color: grey;
    border: 1px solid black;
    margin-left: 2rem;
    padding: .5rem .5rem;
}